/**
*Changes made to xterm.css file
*/

.xterm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    width: 200px;
    height: 40px;
    background-color: #E84610;
    border: 1px solid grey;
    color: white;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 8px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.xterm .xterm-viewport {
    background-color: #000;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 824px;
}